<html xmlns="http://www.tei-c.org/ns/1.0">
   <style>
                    h4{
                    margin-bottom: 0.5rem;
                    font-weight: 500;
                    line-height: 1.2;
                    color: #5e7bb1;
                    font-weight: 700;
                    font-size: x-large;
                    }
                </style>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></link>
      <title>Vie de saints de Richard de Fournival</title>
   </head>
   <style>
            .navlinks{
            color: #BDA164 ;
            margin-right: 15px;
            }
        </style>
   <nav class="navbar navbar-expand-lg" role="navigation" style="background-color: #F2E5C9; margin-bottom: 50px;">
      <div class="navbar-brand" style="margin: 10px 25px 5px 25px;                 color: #5e7bb1;                 font-family: ui-serif;                 font-size: 30px;                 font-variant: small-caps;">Vie de saints de Richard de Fournival</div>
      <div class="container-fluid">
         <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="navlinks" href="notice.html">Notice</a></li>
            <li class="nav-item"><a class="navlinks" href="transcriptions.html">Transcriptions</a></li>
            <li class="nav-item"><a class="navlinks" href="index.html">Textométrie</a></li>
         </ul>
      </div>
   </nav>
   <div style="margin: 50px 350px 0px 350px" align="justify">
      <p>L'encodage a été réalisé dans le cadre du cours de XML TEI dispensé à l'École nationale
         des Chartes. L'édition numérique a été réalisée
         dans le cadre du cours d'XSLT, cours dans la continuité du
         celui de XML. </p>
      <p>Ces travaux ont été produits par <a href="https://github.com/axellelecroq" target="_blank">Axelle Lecroq</a> au cours de l'année 2021.</p><br></br></div><br></br><footer>
      <hr class="style-one"></hr>
      <div class="container">
         <div class="row text-center justify-content-center ">
            <div>
               <h6><a class="navlinks" href="apropos.html">À propos</a></h6>
            </div>
         </div>
      </div><br></br></footer>
</html>