<html xmlns="http://www.tei-c.org/ns/1.0">
   <style>
                    h4{
                    margin-bottom: 0.5rem;
                    font-weight: 500;
                    line-height: 1.2;
                    color: #5e7bb1;
                    font-weight: 700;
                    font-size: x-large;
                    }
                </style>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></link>
      <title>Vie de saints de Richard de Fournival</title>
   </head>
   <style>
            .navlinks{
            color: #BDA164 ;
            margin-right: 15px;
            }
        </style>
   <nav class="navbar navbar-expand-lg" role="navigation" style="background-color: #F2E5C9; margin-bottom: 50px;">
      <div class="navbar-brand" style="margin: 10px 25px 5px 25px;                 color: #5e7bb1;                 font-family: ui-serif;                 font-size: 30px;                 font-variant: small-caps;">Vie de saints de Richard de Fournival</div>
      <div class="container-fluid">
         <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="navlinks" href="notice.html">Notice</a></li>
            <li class="nav-item"><a class="navlinks" href="transcriptions.html">Transcriptions</a></li>
            <li class="nav-item"><a class="navlinks" href="index.html">Textométrie</a></li>
         </ul>
      </div>
   </nav>
   <div class="container"><button type="button" class="btn btn-light" style="margin: 10px;"><a href="index.html" style="color: black;">Animaux</a></button><button type="button" class="btn btn-light" style="margin: 10px;"><a href="index-personnages.html" style="color: black;">Personnages</a></button><button type="button" class="btn btn-light" style="margin: 10px;"><a href="index-event.html" style="color: black;">Mythes</a></button><div class="tab-content" id="myTabContent">
         <div style="margin-left: 100px;">
            <h4 class="h4" style="                 font-variant: small-caps;                 font-family: Georgia;">Liste des personnages</h4>
            <div style="margin-left:50px">
               <p><b>Argus</b></p>
               <p style="margin-left:50px; margin-right:450px">Fils d'Arestor et de Mycène est un Géant ayant une centaine d'yeux. Il est missioné
                  pour surveiller Io,
                  transformée en vache dans un mythe des Métamorphoses d'Ovide. Un argus est aussi une
                  figure imaginaire 
                  représentant une tête humaine couverte d'une multitude d'yeux en héraldique.
                  <p style="margin-left:50px; margin-right:450px">Occurences : 52 ; 52 ; 66 ; 69 ; 83</p>
               </p>
               <p><b>Mercure</b></p>
               <p style="margin-left:50px; margin-right:450px">Dieu du commerce, il devient également le dieu des voleurs, des voyages et le messager
                  des autres dieux.
                  <p style="margin-left:50px; margin-right:450px">Occurences : 65 ; 66 ; 73</p>
               </p>
            </div>
         </div>
      </div>
   </div>
   <footer>
      <hr class="style-one"></hr>
      <div class="container">
         <div class="row text-center justify-content-center ">
            <div>
               <h6><a class="navlinks" href="apropos.html">À propos</a></h6>
            </div>
         </div>
      </div><br></br></footer>
</html>