<html xmlns="http://www.tei-c.org/ns/1.0">
   <style>
                    h5{
                    margin-bottom: 0.5rem;
                    font-weight: 500;
                    line-height: 1.2;
                    color: #5e7bb1;
                    font-weight: 700;
                    font-size: x-large;
                    }
                    .btn-margin{
                    margin: 10px;
                    }
                </style>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
      <meta name="author" content="Axelle Lecroq"></meta>
      <meta name="description" content="Édition numérique de la Vie de saints de Richard de Fournival"></meta>
      <meta name="keywords" content="XSLT,XML,TEI"></meta>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></link>
      <title>Vie de saints de Richard de Fournival</title>
   </head>
   <style>
            .navlinks{
            color: #BDA164 ;
            margin-right: 20px;
            font-size:17px;
            font-family: PTSerif;
            }
           .titre-site{
           margin: 0px 25px 0px 15px;
           color: #5e7bb1;
           font-size: 20px;
           font-family: PTSerif;
           }
           .nav-style{
           background-color: #F2E5C9;
           margin-bottom: 50px;
           }
        </style>
   <nav class="navbar navbar-expand-lg nav-style" role="navigation"><img src="../img/icon.jpg" style="width: 40px;                 margin-left: 20px;"></img><div><a href="accueil.html" class="navbar-brand titre-site"> le bestiaire d'amour</a></div>
      <div class="container-fluid">
         <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="navlinks navbar-brand" href="notice.html">Notice</a></li>
            <li class="nav-item"><a class="navlinks navbar-brand" href="transcriptions.html">Transcriptions</a></li>
            <li class="nav-item"><a class="navlinks navbar-brand" href="index.html">Textométrie</a></li>
         </ul><span><a href="apropos.html"><img src="../img/info-circle.svg" alt="Guidelines" style="color: #5e7bb1"></img></a></span></div>
   </nav>
   <div class="container"><button class="btn btn-light btn-margin"><a href="index.html" style="color: #BDA164;">Animaux</a></button><button class="btn btn-light btn-margin"><a href="index-personnages.html" style="color: #DBCFB6">Personnages</a></button><button class="btn btn-light btn-margin"><a href="index-event.html" style="color: #DBCFB6">Mythes</a></button><div class="tab-content" id="myTabContent">
         <style>
            .liste-titre{
            font-variant: small-caps;
            font-weight: 400;
            }
        </style>
         <div style="margin-left: 100px;">
            <h5 class="h5 liste-titre">Liste des animaux</h5>
            <div style="margin-left:50px">
               <p><b>castor</b><i> · chastor</i></p>
               <div style="margin: 0px 450px 15px 50px">
                  <p>Gros rongeur caractérisé par ses pattes
                     palmées, sa queue aplatie et sans poils, sa belle fourrure, ses glandes génitales
                     dont on extrait le
                     castoréum.</p>
                  <p></p>
                  <p>Occurences : 169</p>
               </div>
               <p><b>hirondelle</b><i> · aronde</i></p>
               <div style="margin: 0px 450px 15px 50px">
                  <p>Oiseau (hirundinidé) migrateur,
                     au plumage noir et blanc, à bec court et largement fendu, aux ailes longues et pointues,
                     aux pattes courtes,
                     se nourrissant d'insectes capturés en plein vol, commun dans tout l'hémisphère boréal.</p>
                  <p></p>
                  <p>Occurences : 89 ; 100</p>
               </div>
               <p><b>hirondeau</b></p>
               <div style="margin: 0px 450px 15px 50px">
                  <p>Le petit 
                     de l'hirondelle.</p>
                  <p>Dans le texte, les hirondeaux sont appelés "faons" ou "petis arondeaus".</p>
                  <p>Occurences : 91 ; 103</p>
               </div>
               <p><b>licorne</b><i> · unicorne</i></p>
               <div style="margin: 0px 450px 15px 50px">
                  <p>Animal fabuleux ayant un corps 
                     de cheval, une tête de bouc, une longue corne au milieu du front et souvent des pieds
                     fourchus.</p>
                  <p></p>
                  <p>Occurences : 82</p>
               </div>
               <p><b>lion</b><i> · lion</i></p>
               <div style="margin: 0px 450px 15px 50px">
                  <p>Grand mammifère félidé carnivore, au pelage
                     fauve orné d'une crinière chez le mâle, confiné aujourd'hui dans les savanes d'Afrique
                     et dans une réserve au 
                     nord-ouest de l'Inde, après avoir vécu au Proche-Orient et en Europe.</p>
                  <p></p>
                  <p>Occurences : 22 ; 118 ; 120 ; 121</p>
               </div>
               <p><b>lionceau</b></p>
               <div style="margin: 0px 450px 15px 50px">
                  <p>
                     Jeune lion.</p>
                  <p>Dans le texte, le lionceau est appelé faon. </p>
                  <p>Occurences : 118 ; 121</p>
               </div>
               <p><b>paon</b><i> · paon</i></p>
               <div style="margin: 0px 450px 15px 50px">
                  <p>Très grand oiseau (phasianidé) au 
                     plumage vivement coloré, haut sur pattes, caractérisé par la longue traîne de plumes
                     ornementales que 
                     porte le mâle et avec laquelle il peut parader en faisant la roue.
                     </p>
                  <p></p>
                  <p>Occurences : 6 ; 7 ; 12 ; 22 ; 40 ; 42 ; 78</p>
               </div>
               <p><b>pélican</b><i> · pellican</i></p>
               <div style="margin: 0px 450px 15px 50px">
                  <p>Très grand oiseau blanc, piscivore, 
                     au corps massif, aux courtes pattes et au long bec pourvu d'une large poche utilisée
                     pour capturer les proies sous l'eau. </p>
                  <p></p>
                  <p>Occurences : 131 ; 132</p>
               </div>
               <p><b>poussin</b><i> · poucin</i></p>
               <div style="margin: 0px 450px 15px 50px">
                  <p>Jeune oiseau de diverses espèces granivores.</p>
                  <p>Dans le texte, les petits du pélican sont appelés "poucin" ainsi que "faon".</p>
                  <p>Occurences : 134 ; 144 ; 150</p>
               </div>
               <p><b>vache</b><i> · uache</i></p>
               <div style="margin: 0px 450px 15px 50px">
                  <p>Femelle reproductrice de l'espèce 
                     bovine.</p>
                  <p></p>
                  <p>Occurences : 48 ; 61 ; 62 ; 73</p>
               </div>
            </div>
         </div>
      </div>
   </div>
   <footer>
      <hr class="style-one"></hr>
      <div class="container">
         <div class="text-center justify-content-center">
            <p><a class="navbar-brand" style="font-size:12; color:darkgrey; font-family:monospace" href="https://github.com/axellelecroq/">Axelle Lecroq · 2021</a></p>
            <div><a href="http://www.chartes.psl.eu/"><img src="../img/ENC.png" width="100"></img></a></div>
         </div>
      </div><br></br></footer>
</html>